@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow: hidden;
  font-family: Roboto;
  font-size: 16px;
  touch-action: manipulation;
  -ms-touch-action: manipulation;
}

canvas {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

@keyframes rotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes loader-ring {
  0% { stroke-dashoffset: -62.8; }
  50% { stroke-dashoffset: 62.8; }
  100% { stroke-dashoffset: 62.8; }
}

* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* .fade-enter-active,
.fade-leave-active {
  transition: opacity 5.5s ease;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
} */